@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color: #4e5a65;
  --secondary-color: #6f8090;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
  --card-background2 : #303032 ;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}

.stop {
  padding-top: 100px;
}

ul {
  list-style-type: none;
}

a{
  text-decoration: none;

  color: var(--dark-color)
}

b{
  text-decoration: none;
  color: var(--light-color);
}

h1{
  font-weight: 300;
  line-height:1.2;
  margin: 10px 0;
  color: var(--lighting-color);
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}
.hidden {
  visibility: hidden;
  height: 0;
}

/* Showcase */
.showcase {
  height: 300px;
  background-color: var(--primary-color);
  color: var(--light-color);
  position: relative;
}

.showcase_project {
  height: 100px;
  background-color: var(--primary-color);
  color: var(--light-color);
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% 45% ;
  gap: 30px;
}

.showcase-form{
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;

}

.showcase-form .form-control {
  margin:30px 0;
}
.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px
}
.showcase-form input:focus {
  outline: none;
}

.showcase::before
.showcase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0px;
  left: 0px;
  background: var(--primary-color);

}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
  color: var(--light-color);
  height: 70px;
}
.navbar ul {
  display:flex;
}

.navbar a {
  color: var(--light-color);
  padding: 10px;
  margin: 0 5px
}


.navbar .flex {
  justify-content: space-between;
}

/* Active/current link */
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.navbar a:hover:not(.active) {
  background-color:var(--secondary-color);
  color: white;
}


/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color:var(--primary-color);
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: var(--light-color);
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color:var(--secondary-color);
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 400px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}




/* Stats */
.stats {
  padding-top: 40px;
}

.stats-heading {
  max-width: 400px;
  margin: auto;
}

.stats .grid h3 {
  font-size: 20px;
  font-weight: bold;
}
/* Languages */

.languages .flex{
  flex-wrap: wrap;
}
.languages.card{
  text-align:center;
  margin: 20px 10px 40px;
  transition: transform 0.2s ease-in;
}
.languages .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.languages .card:hover {
  transform: translateY(-15px)
}

/* Tablets and under */
@media(max-width: 1000px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
 .showcase {
   height: auto;
 }
 .showcase-text {
   text-align: center;
   margin-top: 40px;

 }
 .showcase-form {
   justify-self: center;
   margin: auto;
 }
}

/* Mobile */
@media(max-width: 500px) {
  .navbar {
    height: 120px ;
  }
  
  .navbar .flex {
    flex-direction: column;
  }
  .navbar .ul {
    padding: 20px;
    background-color: rgba(0,0,0,0.1);
  }
}

iframe {
  display: block;
  margin: 0 auto;
  border-radius: 10px;  
}

.bg
{
  width: 100%;
  z-index: 0;
}